extends layout

block content
  h1= title
  p ¡Bienvenido al #[em Multi Concesionario]!

  h1 Resumen

  if error
    p Error al contar.
  else
    p En este concesionaio se ha guardado estas cuentas:

    ul
      li #[strong Coches:] !{data.coche_count}
      li #[strong Concesionarios:] !{data.concesionario_count}
      li #[strong Clientes:] !{data.cliente_count}